@import '../../common/common.less';

.play {
	.lyric {
		height: 80vh;
		display: table;
		width: 100%;
		.imgbg {
			border-radius: 50%;
			display: block;
			width: 600px;
			height: 400px;
			margin: 40px auto;
		}
	}
	.videoControl {
		height: 120px;
		border: 1px solid @borderColor;
		text-align: center;
	}
}
