html,body{
  background-color: #dddddd;
}
.index {
  flex-direction: column;
  width: 750;
  max-width: 750px;
  width: 100%;
  background-color: #fffffe;
  height: 100vh;
  padding: 0 30px;
  margin: 0 auto 0;
  span{
    font-size: 28px;
  }
}
